* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1f2933, #111827);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 20px;
}


.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #1f2937;
  border-top: 5px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-box button {
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: #fff;
  font-weight: bold;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #1d4ed8;
}
#error {
  background: #7f1d1d;
  color: #fecaca;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 14px;
}


.profile-card {
  background: #1f2937;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.hidden{
  display: none;
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #2563eb;
  margin-bottom: 12px;
}

.profile-card h2 {
  font-size: 20px;
}

.username {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 10px;
}

.bio {
  font-size: 14px;
  color: #d1d5db;
  margin-bottom: 20px;
}


.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stats div {
  background: #111827;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

.stats span {
  font-size: 12px;
  color: #9ca3af;
}

.stats strong {
  display: block;
  margin-top: 4px;
  font-size: 16px;
}


.profile-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background: #2563eb;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background 0.3s;
}

.profile-link:hover {
  background: #1d4ed8;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}